.Message {
    max-width: 75%;
    margin: 0 auto 10px auto;
}

.MessageHeader {
    display: flex;
    justify-content: space-between;
}

.AuthorName {
    color: #282c34;
}

.SendMessage {
    margin-bottom: 10px;
}